@charset "utf-8";

.dosuko {background:url('../images/temp/temp_bi_bg.gif') no-repeat;}

.identityWrap {position:relative;width:170px;padding:40px 20px 60px;background:#39383b;}

a.linkArea {position:absolute;top:13px;left:20px;padding-left:19px;color:#a5a5a5;background:url('../images/idt/icon_go.png') 0 center no-repeat;}
.interest a.linkArea  {top:-45px;left:35px;}
a.linkArea:hover, a.linkArea:active, a.linkArea:focus{color:#a5a5a5;}

.idFrame {position:relative;width:170px;height:170px;background:url('../images/com/bg/bg_frame_contents.png') no-repeat 0 0;}
.idFrame .idImg {display:block;position:absolute;left:4px;bottom:37px;}
.idFrame .idImg.fixImg {overflow:hidden;width:162px;height:129px;}

.idFrame .btmBanner {display:block;position:absolute;left:4px;bottom:4px;width:162px;height:29px;text-indent:-99999px;background:url('../images/com/bg/bg_frame_contents.png') no-repeat;background-position:-4px -137px;}

.idFrame.flexible {position:static;padding:0 4px;width:162px;height:auto;border-top:4px solid #fff;background:url('../images/com/bg/bg_frame_category.png') no-repeat 0 100%;}
.idFrame.flexible .idImg {display:block;position:static;}
.idFrame.flexible .btmBanner {display:block;position:static;width:162px;height:29px;padding:4px 0;text-indent:-99999px;background:url('../images/com/bg/bg_frame_contents.png') no-repeat;background-position:-4px -133px;}

.btnAddContents {margin-top:22px;}
.btnAddContents a, .btnAddContents a:link, .btnAddContents a:visited {display:block;width:170px;height:31px;font-weight:bold;color:#fff;line-height:31px;text-align:center;background:url('../images/idt/btn_interesting_contents.png') no-repeat 0 0; overflow:hidden;white-space: nowrap;}
.btnAddContents a:hover {text-decoration:none;color:#fff;background-position:0 -86px;}

.btnIdtLogin {margin-top:22px;}
.btnIdtLogin a {display:block;width:170px;height:31px;font-weight:bold;color:#fff !important;line-height:31px;text-align:center;background:url('../images/idt/btn_interesting_contents.png') no-repeat -207px 0; overflow:hidden;white-space: nowrap;}
.btnIdtLogin a:hover {text-decoration:none;color:#fff !important;background-position:-207px -86px;}

.interestingModule {margin-top:0;}
.interestingModule .tabArea {position:relative;}

.interestingModule section {margin-top:22px;}
.interestingModule section:first-child {margin-top:20px;}
.interestingModule section h2 {padding-bottom:4px;}
.interestingModule section h2,
.interestingModule section h2 a {font-weight:bold;color:#87a5b9;}
.interestingModule section h2 span {padding-left:5px;font-weight:bold;color:#fff;}
.interestingModule .reflesh {position:relative;color:#a5a5a5;}
.interestingModule .reflesh .btnReflesh {position:absolute;top:-24px;right:0px;width:21px;height:21px;text-indent:-99999px;background:url('../images/idt/btn_reflesh.png') no-repeat;}
.interestingModule .reflesh .btnReflesh:hover {background-position:0 -82px;}

/* 개인화 컨텐츠 리스트 */
.idtContentsList {width:210px;margin-left:-20px;}
.idtContentsList li {position:relative;}
.idtContentsList li a {display:block;height:30px;padding:4px 0 4px 20px;;cursor:pointer;color:#969696;text-decoration:none;}
.idtContentsList li a.selected {padding-left:17px;border-left:3px solid #ea4100;}
.idtContentsList li a:hover, .idtContentsList li a.selected, .idtContentsList li a:focus {background:#232323;}



.idtContentsList li.category .infoWrap {background:url('../images/idt/ico_interesting_module02.png') no-repeat;}
.idtContentsList li .thumbnail {position:absolute;left:20px;top:5px;width:30px;height:30px;}
.idtContentsList li .thumbnail img {width:30px;height:30px;}
.idtContentsList li .infoWrap {min-height:30px;padding-left:40px;}
.idtContentsList li .infoWrap span {overflow:hidden;display:block;width:130px;}
.idtContentsList li .infoWrap .categoryTitle,
.idtContentsList li .infoWrap .contentTitle {max-height:30px;color:#dcdcdc;line-height:16px;word-wrap:break-word;white-space:pre-wrap;}
.idtContentsList li .infoWrap .matching,
.idtContentsList li .infoWrap .channel {height:14px;margin-top:3px;color:#aeadad;}
.idtContentsList li.myContents .infoWrap .channel {color:#e8541a;background:url('../images/com/ico_my_contents.gif') no-repeat 100% 0;}

.myFeedList .idtContentsList li a {height:auto;}
.myFeedList .idtContentsList li .infoWrap .contentTitle {max-height:none;line-height:1.4;color:#969696;text-decoration:none;}
.myFeedList .idtContentsList li .infoWrap .contentTitle .username {color:#dcdcdc}

.noContents {color:#dcdcdc;}
.noContents a {color:#dcdcdc;}

.friends h2 {margin-bottom:5px;}
.friends .peopleThumbnail {position:relative;margin-top:6px;}
.friends .peopleThumbnail a {display:block;text-decoration:none;}
.friends .peopleThumbnail .represent {position:relative;overflow:hidden;width:84px;height:84px;}
.friends .peopleThumbnail .represent img {width:84px;height:84px;}
.friends .peopleThumbnail .represent .transparentCover {font-family:Arial,sans-serif;font-size:18px;}
.friends .peopleThumbnail a:hover .transparentCover {display:none;}
.friends .peopleThumbnail ul {position:absolute;left:84px;top:0;width:86px;height:84px;}
.friends .peopleThumbnail ul li {position:relative;float:left;width:41px;height:41px;margin-left:2px;}
.friends .peopleThumbnail ul li a img {width:41px;height:41px;}
.friends .peopleThumbnail ul li.mrgBtm {margin-bottom:2px;}
.friends .peopleThumbnail .transparentCover {position:absolute;left:0;top:0;display:block;padding:4px;font-size:12px;color:#fff;}
.friends .peopleThumbnail ul li .transparentCover {width:33px;height:33px;background:#19191b;opacity:0.65;filter:alpha(opacity:'65');}
.friends .peopleThumbnail .represent .transparentCover {width:76px;height:76px;}
.friends .peopleThumbnail ul li.new .transparentCover {width:41px;height:41px;padding:0;line-height:41px;text-align:center;color:#f06128;opacity:0.65;filter:alpha(opacity:'65');}
.friends .peopleThumbnail ul li.new a:hover .transparentCover {display:block;color:#fff;}
.friends .peopleThumbnail ul li .btn_more {width:41px;height:41px;padding:0;line-height:41px;text-align:center;color:#fff;font-size:14px;text-decoration:none;background:#242426;}
.friends .peopleThumbnail ul li .btn_more:hover{color:#f06128}
.friends .peopleThumbnail .transparentCover i {display:none;}
.friends .peopleThumbnail .represent .transparentCover i {position:absolute;top:0px;left:0px;display:block;width:84px;height:84px;text-indent:-99999px;background:#eb4100;opacity:0.65;filter:alpha(opacity:'65');}
.friends .peopleThumbnail .represent .transparentCover em {position:relative;z-index:10;}
.friends .peopleThumbnail .noneFollower {position:absolute;left:84px;top:0;width:70px;height:76px;padding:8px 8px 0;cursor:pointer;background:#212023;}
.friends .peopleThumbnail .noneFollower .desc {display:block;margin-top:2px;color:#e8541a;line-height:16px;}
.friends .peopleThumbnail .noneFollower .username {color:#fff;}
.friends .peopleThumbnail .noneFollower .username em {overflow:hidden;display:inline-block;max-width:54px;white-space:nowrap;text-overflow:ellipsis; vertical-align:top;}
.friends .peopleThumbnail .noneFollower .matching {display:block;color:#e8541a;line-height:16px;}
.friends .peopleThumbnail .noneFollower a {text-decoration:none;}
	*+html .friends .peopleThumbnail .noneFollower .username em {display:inline;zoom:1;}
.friends .desc,
.friends .desc a {display:block;margin-top:7px;color:#fff;}
.friends .desc a.allView {color:#fff;}


.categoryGraph ul.c_graph {overflow:hidden;margin-top:6px;}
.categoryGraph ul.c_graph li {position:relative;float:left;width:170px;height:27px;line-height:27px;color:#fff;background:#232323;border-bottom:1px solid #39383b;}
.categoryGraph ul.c_graph li a {position:relative;display:block; white-space: nowrap;text-overflow: ellipsis; overflow:hidden;padding:0 10px;color:#fff;text-decoration:none;z-index:10;}
.categoryGraph ul.c_graph li a span {padding-right:9px;}
.categoryGraph ul.c_graph li .graph {position:absolute;top:0;left:0;width:100%;height:27px;text-indent:-99999px;}
.categoryGraph ul.c_graph li .graph span {display:block;position:absolute;top:0;left:0;height:27px;}
.categoryGraph ul.c_graph li .graph span {background:#4e4e4e;}
.categoryGraph ul.c_graph li.rank1 .graph span  {background:#eb4404;}

.categoryGraph ul.hotCategoryList li.rank1 a {background:url('../images/idt/ico_crown.png') 145px center no-repeat;}
.categoryGraph ul.hotCategoryList li a span {color:#f06128;}

section .navi {position:absolute;top:1px;right:0;}
section .navi a {display:block; float:left;width:14px;height:14px;margin-left:3px;border:1px solid #141414; background:url('../images/com/btn/btn_contentsList_set.png') no-repeat;text-indent:-9999px;;text-shadow:none;color:transparent;}
section .navi .prev {background-position:0 0;}
section .navi .prev:hover {background-position:0 -30px;}
section .navi .next {background-position:-19px 0;}
section .navi .next:hover {background-position:-19px -30px;}
section .navi .prev.off {background-position:0 -15px; cursor: none;}
section .navi .next.off {background-position:-19px -15px; cursor: none;}

.shareCategory h2 {height:0px;overflow:hidden;font-size:0;text-indent:-99999px;}
.shareCategory .area_sns {float:none; height:20px; margin-top:3px; margin-left:-3px;}
.shareCategory .area_sns li.fb_like {position:relative; z-index:25;}
.shareCategory .area_sns li .btn_twitter {background:url('../images/com/btn/btn_share.png') no-repeat 0 -21px; }
.shareCategory .area_sns li .btn_facebook {background:url('../images/com/btn/btn_share.png') no-repeat -23px -21px; }

.moreView {margin-top:8px;}
.myInteresting .moreView, .viewContents .moreView, .feed .moreView {margin-top:4px;}
.moreView a,.moreView a:link, .moreView a:visited {display:inline !important;padding-right:12px;color:#a5a5a5 !important;background:url('../images/idt/ico_arrow_all.png') no-repeat right 2px;}
.moreView a:hover {color:#a5a5a5 !important;}
.moreView.underArrow a {background-position:right -23px;}