@CHARSET "euc-kr";

.cjWebPolicy { position:relative;z-index:2;width:162px;height:19px;text-align:left;margin:0;padding:0;display:inline-block; zoom:1; *display:inline;line-height:16px;vertical-align:top }
.cjWebPolicy a { font-family:dotum, Verdana, Arial; font-size:12px; color:#767676; text-decoration:none;background:none}
.cjWebPolicy a:link { color:#767676; text-decoration:none;}
.cjWebPolicy a:visited { color:#767676; text-decoration:none;}
.cjWebPolicy a:hover { color:#252d30; text-decoration:none;}
.cjWebPolicy a:active	{ color:#767676; text-decoration:none;}
.cjWebPolicy h2 { position:absolute; left:0; bottom:0; width:162px; height:18px; border:1px solid #cdcdcd; text-align:left; background:url('images/btn_arrow2.gif') no-repeat right -2px;margin:0;padding:0;font-weight:normal; font-size:1em; padding-left:5px; }
.cjWebPolicy h2 a { display:block; height:17px; padding:1px 20px 0 0;font-family:dotum, Verdana, Arial; font-size:12px; color:#767676; text-decoration:none;background:none;float:none}
.cjWebPolicy ul { position:absolute; left:0; bottom:0; width:167px; height:200px; border:1px solid #cdcdcd; overflow-y:scroll; background:#fff;margin:0;padding:0;list-style:none; }
.cjWebPolicy ul.dn { display:none !important; }
.cjWebPolicy ul li { float:left; width:140px; line-height:20px;margin:0;padding:0;list-style:none; }
.cjWebPolicy ul li p.title { font-weight:bold;font-style:italic; line-height:20px;font-family:dotum, Verdana, Arial; font-size:12px; color:#767676; text-decoration:none;margin:0;padding:0;padding-left:5px; }
.cjWebPolicy ul ul { position:static; width:120px; height:auto;margin:0;padding:0; margin-left:20px; border:none; overflow:hidden; }
.cjWebPolicy ul li li	{ width:120px; height:auto;margin:0;padding:0;list-style:none; }
.cjWebPolicy ul li li a {margin:0;padding:0;background:nonetext-align:left;}