@charset "utf-8";
/* CSS Document */

@import url('http://mnetimg.mnet.com/css/mnet_ver/gnb_2014.css?v=50');

/* GNB 서브쪽 수정 적용 부분 */
#header_mnet { height:157px; }
#header_mnet .inner_wrap { height:157px; background:url(http://mnetimg.mnet.com/images/mnet_ver/common/bg_gnb.png) no-repeat left bottom; }
.banner_top .w_left { top:30px; }
.banner_top .w_right { top:30px; }

#header_mnet.htype_2DepthNo { height:126px; }
#header_mnet.htype_2DepthNo .inner_wrap { height:126px; background:none; }


/*201308*/
#header_mnet { position:relative; width:100%; height:157px; z-index:101; background:url(http://mnetimg.mnet.com/images/mnet_ver/common/bg_gnbrepeat.gif) repeat-x left top; }
#header_mnet #gnb, #header_mnet .inner_wrap {background:none;}